#header{
position:relative;
background:green;
width:92%;
height:10%;
margin-right:4%;
margin-left:4%;
border-radius: 10px;
text-align:center;

}
#header h1{
font-family: 'Monotype Corsiva', Times, serif;
font-size:300%;
position:relative;
width:100%;

}
#header a{
	
	text-decoration: none;
	color:black;
}


#menu{

float:left;
margin-left:4%;
background:green;
width:20%;
margin-top: 1%;
border-radius: 10px;
position:relative;

}
#menu ul
{
   padding-left: 4%;
}

#menu li{
	
	margin:3%;
	margin-left:0;
	background-color: black;
	border-radius: 10px; 	
	padding:5%;
	padding-left:20%;
	list-style-type: none;
	
	
}
#menu li:hover{
	
	
	font-size:110%;
	background-color: blue;
	
}
#menu li a{
	text-decoration: none;
	color:white;
	display:block;

}

#content{

margin-top: 1%;
float:left;
margin-left:1%;
background: silver;
width:50%;
position:relative;
border-radius: 10px;

}
#content h1{
	text-align:center;
	font-family: cursive;
}
#content dl{
	margin-left:10%;
	font-size:120%;
	
}
#content img{
	
	float:right;
	margin-right:2%;
	margin-top:1%;
	border-radius: 10px 10px 10px 10px; 
}
#content p{
	margin-right:5%;
	margin-left:10%;
}
#content em{
	font-size:120%;
}
#news{
border-radius: 10px;
margin-top: 1%;
float:left;
margin-left:1%;
background:green;
width:20%;
position:relative;
text-align:center;
}
#news li{
	margin:3%;
	background-color: black;
	border-radius: 10px; 	
	display:block;
	padding:5%;	
	font-size:110%;

}
#news h1{
	font-family: cursive;
}

#news li:hover{
	
	
	font-size:120%;
	background-color: blue;
	
}
#news li a{
	text-decoration: none;
	color:white;
	display:block;

}
.letter{
     font-size: 150%;
	 color: black;
	 position: relative;
	 font-family: serif;
}
#footer{
position: absolute;
bottom: 0;
background: white;
width:97%;
height:5%;
text-align:center;
border-radius: 10px;
}
@media (max-width: 2560px)
{
#header
    {
		height: 19%;
	}
}
@media (max-width: 1920px)
{
#header
    {
		height: 14%;
	}
}
@media (max-width: 1680px)
{
#header
    {
		height: 12%;
	}
}
@media (max-width: 1600px)
{
#header
    {
		height: 11%;
	}
}
@media (max-width: 1440px)
{
	#header
	{
		height: 9%;
	}
}
@media (max-width: 1366px)
{
	#header
	{
   height: 8%;
}
}
@media (max-width: 1280px)
{
	#header
	{
		height: 8%;
	}

}
@media (max-width: 1024px) {

	#header
	{
		height: 7%;
	}
	#header h1{
		width:70%;
		font-size:250%;
	}
#menu{
width:30%;

}

#content{
width:61%;
}
#news{
margin-left:4%;
width:92%;

}
#news li{
	
	
	margin:1%;
	margin-left:10%;
	margin-right:10%;
	background-color: gray;
	border-radius: 10px; 	
	display:block;
	padding:1%;
	
	font-size:120%;
	list-style-type: none;
}
}
@media (max-width: 768px) {
body{
margin-right:17%;

}
	#news li{
		width: 44%;
		display: inline-block;
		margin: 0;
		vertical-align: top;
		padding: 0;
		height: 15%;		
	}	

#header
{
	margin-left: 0%;
	height: 6%;
	padding-left:-10px;
}
#header h1{
	width:100%;
	font-size:200%;
   
}
#menu{
width:92%;
margin-left: 0%;
}
#menu ul{
text-align:left;
margin:0;
padding-left: 2%;
}
#menu li{
	
	width: 25%;
	height: 9%;
	display:inline-block;		
	font-size:120%;	
	padding:1%;
	padding-left:3%;
	padding-top:2%;
	
}
#menu li a
{
	float: left;
	margin-left: 11%;
	margin-top: 8%;	
}
#menu li:hover{
	
	padding:1%;
	padding-left:3%;
	padding-top:2%;
	font-size:120%;
	background-color: blue;
	
}
#content{
	margin-left:0%;
width:92%;
}
#news{
margin-left:0%;
width:92%;
}
#news li
{
	position:relative;
	width: 97%;
	height: 40px;
	padding-top: 20px;
	
}	
#footer
{
	position: relative;
}
#content img{
	float:right;
	margin-right:10%;
	margin-top:2%;
	border-radius: 10px 10px 10px 10px; 
}
}